$primary-bkg-color: #000;
$secondary-bkg-color: #0f0e0e;
$body-font-size: 16px;

@mixin button($bkg: #fff, $p: 15px 20px) {
  outline: none;
  appearance: none;
  border: none;
  background: $bkg;
  padding: $p;
  color: #000;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  height: max-content;
}

* {
  padding: 0;
  margin: 0;
}

// selector
body {
  // property: value;
  background-color: $primary-bkg-color;
  display: flex;
  width: 100%;
  height: 100vh; // viewport-height
  height: 100dvh;
}

.box-container {
  width: 300px;
  height: 300px;
  background-color: $secondary-bkg-color;

  p {
    font-size: $body-font-size;
    color: #fff;
  }
  h1 {
    font-size: 25px;
    color: #fff;
  }
}

.btn {
  @include button;
}
